	<div id="form_container">
			<form id="form" method="POST" action="{form.action}">
			<ul >
				<li id="name" >
					<label for="element_1">Name </label>
					<div>
						<input id="element_1" name="name" type="text" value=""/>
					</div>
				</li>
				<li id="email" >
					<label for="element_2">Email </label>
					<div>
						<input id="element_2" name="email" type="text" value=""/>
					</div>
				</li>
				<li class="buttons">
					<input id="saveForm" type="submit" name="submit" value="Submit" />
				</li>
			</ul>
		</form>
	</div>
